<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
	<title>飘乐</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/views/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/views/assets/css/home.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="/views/assets/css/bootstrap-theme.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="/views/assets/js/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="/views/assets/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="main">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					山丘
				</h2>
				<p>
					想说却还没说的 还很多

					攒着是因为想写成歌

					让人轻轻地唱着 淡淡地记着

					就算终于忘了 也值了
				</p>
				<p>
				    每个人心中都有一首李宗盛【飘·乐】
					<!-- a class="btn btn-primary btn-large" href="#">Learn more</a -->
				</p>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								一个人
							</h3>
							<p>
								
							</p>
							<p>
							    一个人独自在漆黑的夜里奔跑
							    这样的感觉 压得我不知怎么才好
							    一个人在爱人与被爱中苦恼
							    这样的事情 并不是每个人都碰得到
							    我并不知道 我做得不好
							    我并不在乎 我做了多少
							    <!--
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
								-->
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Second" src="http://lorempixel.com/output/city-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								遇见另一个自己
							</h3>
							<p>
								梦到在相遇地点 对当初的自己道歉
								梦里我能颠倒时间 对当初爱我的人拒绝
								你将和自己擦肩 然后会发现两个自己
								在现实梦境有同一张 惊讶的脸
								我坐下和我自己聊天
								我和我 我们都觉得很累
							</p>
							<p>
							    <!--
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
								    -->
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								给自己的歌
							</h3>
							<p>
								想得却不可得 你奈人生何
								该舍的舍不得 只顾着跟往事瞎扯
								等你发现时间是贼了
								它早已偷光你的选择
								爱恋不过是一场高烧
								思念是紧跟着的好不了的咳
								是不能原来却无法阻挡
								恨意在夜里翻墙
							</p>
							<p>
							    <!--
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							    -->
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>
	
	
	
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>Copyright © <a href="http://www.feelfiy.com/">@飘乐网</a></span> | 
                    <span><a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP15053133备号</a></span>
                </div>
            </div>
        </div>
    </div>
	
    </body>
</html>
