<?php 
View::blade('head');
?>
	<body id="top">
		<!-- One -->
			<section id="read" class="wrapper style2 special">
				<header class="major">
					<h2>我打一个呵欠，点起一支纸烟，喷出烟来，
						对着灯默默地敬奠这些苍翠精致的英雄们。</h2>
					<h5 id="author-name">鲁迅</h5>
				</header>
				<ul class="icons major" id="author-action" style="display:none;">
					
					
					<li>
						<a href="/" class="icon fa-home"><span class="label">主页</span></a>
					</li>
					
					<li style='display:none;'>
						<span href="#detail" id='review-start' class="icon fa-list scrolly"><span class="label">详情</span></span>
					</li>
					<li>
						<a href="/review"><span class="icon fa-list "><span class="label">列表</span></span></a>
					</li>
					<li>
						<a href="/review/create"><span class="icon fa-pencil"><span class="label">发表</span></span></a>
					</li>
					<li>
						<a href="/auth/profile"><span class="icon fa-user"><span class="label">个人设置</span></span></a>
					</li>
					<li>
						<a href="#"><span class="icon fa-sign-out" id='inputLogout'><span class="label">登出</span></span></a>
					</li>
				</ul>
				<ul class="icons major" id="author-login" style="display:none;">
					<li><a id="share" href="#modal-share" role="button" data-toggle="modal" class="button special icon fa-sign-in">登录</a></li>
						
				</ul>
				
			</section>
		<!-- Two -->
		<!-- Three -->
		<!-- Four -->
			<section id="detail" class="wrapper">
				<div class="inner">
					<header class="major">
						<h2><?php echo $review['title'];?></h2>
						<h5 style='float:right;'><?php echo Util::time2date($review['created_at']);?></h5>
					</header>
					<?php
						if($review['authorid'] == $author['id']){
					?>
					<section>
						
								<ul class="icons">
									<!-- li><a href="/review" class="icon fa-list"><span class="label">我的所有书评</span></a></li -->
									<li><a href="/review/edit/<?php echo $review['id']?>" class="icon fa-file-text"><span class="label">修改本书评</span></a></li>
									<li><a id="review-delete" href="#" class="icon fa-trash"><span class="label">删除本书评</span></a></li>
									
								</ul>
					</section>
					<?php
						}
					?>
					<section>
						<p>
							<?php echo $review['content'];?>
						</p>
					</section>

				<hr />

				</div>
				<div class="inner">

					<header class="miner">
						<h5>评论列表</h5>
					</header>
					<section>
						<ul class='alt'>
						<?php
							foreach($comments as $comment)
							{
								echo '<li>';
								echo '<h5><b>'.$comment['authorname'].'</b><br>  '.Util::time2date($comment['created_at']).'</h5>';
								echo '<blockquote>'.$comment['content'].'</blockquote>';
								echo '</li>';
							}
						?>
						<ul>
					</section>
					<section>
						<form method="post" action="#">
							<div class="row uniform">
								<div class="12u$">
									<textarea name="comment-content" id="comment-content" placeholder="输入评论" rows="4"></textarea>
								</div>
								<div class="12u$">
									<ul class="actions">
										<li><input type="button" id="comment-submit" value="评论" class="special" /></li>
									</ul>
								</div>
							</div>
						</form>
					</section>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li id="oii"><a href="#" class="icon fa-facebook"><span class="label">QQ</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">&copy; Untitled. Credits: <a href="http://html5up.net">HTML5 UP</a></p>
			</footer>

<div class="modal fade" id="modal-share" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					登录
				</h4>
			</div>
			
			<div class="modal-body">
				
			<form class="form-horizontal">
					<div class="control-group">
						<div class="controls">
							<input id="inputMobile" type="text" placeholder="手机"/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input id="inputPassword" type="password" placeholder="密码"/>
						</div>
					</div>
				
					<div class="control-group">
						<div class="controls">
						    <button id="inputLogin" type="button" class="button special">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
							 <button id="inputRegister" type="button" class="button " style="float: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注册&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
						</div>
					</div>
			</form>
			</div>
			<div class="modal-footer">
				<button id="inputCancel" type="button" class="button" data-dismiss="modal">
					取消
				</button> 
			</div>
		</div>
		
	</div>
</div>
		
		
		
		<!-- Scripts -->
			<script src="/views/assets/js/jquery.scrolly.min.js"></script>
			<script src="/views/assets/js/skel.min.js"></script>
			<script src="/views/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/views/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/views/assets/js/main.js"></script>
			<script src="/views/assets/js/summernote.min.js"></script>
			<script>
				<?php
					if($login){
				?>
						
						$('#author-name').html("<?php echo $author['name']?>");
						$('#author-action').css('display','block');
						
						$(document).ready(function(){
							$('#review-start').trigger('click');
							$('#review-action').css('display','block');  
							$('#review-content').summernote({
								height:280,
								minHeight:280
							});
						});
				<?php
					}else{
				?>
						$(document).ready(function(){
							$('#author-action').css('display','none');
							$('#author-login').css('display','block');
							$('#review-action').css('display','none');
							$('#review-content').summernote({
								height:280,
								minHeight:280
							});
						});
				<?php
					}
				?>
						
				$('#review-delete').click(function(){
					var id = <?php echo $review['id'];?>;
					$.ajax({
						type: "POST",
						url: "/review/delete",
						data: "id="+id,
						success: function (data) {
							// Play with returned data in JSON format
							var review = jQuery.parseJSON(data);
							if(review.code == "0")
							{
								alert("删除成功");
								window.location.href = '/review';
							}else{
								alert("删除失败");
							}
						},
						error: function (msg) {
							alert(msg);
						}
					});
				});
				
				$('#comment-submit').click(function(){
					var content = $('#comment-content').val();
					$.ajax({
						type: "POST",
						url: "/review/<?php echo $review['id']?>/comment",
						data: "content="+content,
						success: function (data) {
							// Play with returned data in JSON format
							var review = jQuery.parseJSON(data);
							if(review.code == "0")
							{
								alert(review.message);
								window.location.reload();
							}else{
								alert(review.message);
							}
						},
						error: function (msg) {
							alert(msg);
						}
					});
					
				});
				
				</script>
	</body>
<?
View::blade('foot');
?>